body{
    background: #888;
}

.container{
    position: relative;
    margin: auto;
    width:100vh;
    text-align: center;
}

.info1{
    opacity:0;
}
.container .pHolder{
    position: relative;
    animation: slider;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slider{
    0%{
        opacity: 0;
        right: -100px;
    }
    100%{
        opacity: 1;
        right: 0px;
    }
}

.section{
    height: 100vh;
    width: 100vh;
    background-color: rgb(27, 27, 27);
    margin: 50px 0;
}

.btn{
    position: relative;
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
    border: solid 1px white;
    top:10px;
    transition: background, color, border;
    transition-duration: .5s, .2s, .2s;
    transition-timing-function: linear;
}

.btn:hover{
    border: solid 1px #888;
    color: #888;
    background: white;
}